*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bannerbox{
    height: 150px;
    width: 800px;
    border: 1px solid;
    padding: 300px 200px 50px 50px;
    color: white;
}
footer{
    width: 150px; /* è possibile centrare il footer senza width? */
    margin: auto;
    padding: 50px 0 25px 0;
}
.general{
    width: 1200px;
    margin: auto;
    font-family:Cambria;
    
}
.headermenu{
    font-size: 18px;
    color: grey;
    margin: 20px 0 20px 0;
}
.megabanner{
    height: 500px;
    margin: auto;
    background-image: url(img/banner.jpg);
}
.overlay{
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}
